<?xml version="1.0"?>
<config>
    <modules>
        <Icecube_AdminLinks>
            <version>1.0.0</version>
        </Icecube_AdminLinks>
    </modules>
    <global>
        <blocks>
            <icecube_admin_links>
                <class>Icecube_AdminLinks_Block</class>
            </icecube_admin_links>
        </blocks>
        <models>
            <icecube_admin_links>
                <class>Icecube_AdminLinks_Model</class>
            </icecube_admin_links>
        </models>
    </global>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <icecube_admin_links>
                        <class>icecube_admin_links/observer</class>
                        <method>addProductLinkButton</method>
                    </icecube_admin_links>
                </observers>
            </adminhtml_block_html_before>
        </events>
        <layout>
            <updates>
                <icecube_admin_links>
                    <file>icecube/admin_links.xml</file>
                </icecube_admin_links>
            </updates>
        </layout>
    </adminhtml>
</config>
