<?xml version="1.0"?>
<config>
    <modules>
        <Icecube_AdminPreviewLinks>
            <version>1.0.0</version>
        </Icecube_AdminPreviewLinks>
    </modules>
    <global>
        <blocks>
            <icecube_admin_preview_links>
                <class>Icecube_AdminPreviewLinks_Block</class>
            </icecube_admin_preview_links>
        </blocks>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <icecube_admin_preview_links>
                    <file>icecube/admin_preview_links.xml</file>
                </icecube_admin_preview_links>
            </updates>
        </layout>
    </adminhtml>
</config>
